.container {
  width: 100%;
  height: 100%;
}

.containerStreaming {
  height: 90vh;
  display: flex;
  background: rgb(15, 15, 15);
  flex-direction: row;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 120px 0px 120px;
}

.logoRedetv {
  width: calc(120px * 1.2);
  height: 100px;
  margin-left: 150px;
}

.containerSection {
  display: flex;
  align-items: center;
  padding-left: 55px;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-top: 25px;
}

.containerSection p {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.2em;
  color: #333;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 768px) {
  .containerStreaming {
    height: 70vh;
    flex-direction: column;
    padding: 70px 0px 70px 0px;
  }

  .logoRedetv {
    margin-left: 0px;
    width: 80px;
    margin-top: 10px;
  }

  .containerSection {
    padding-left: 6px;
  }
  .containerSection p {
    margin-left: 5px;
  }
}
