.iframe {
  width: 800px;
  height: 450px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 768px) {
  .iframe {
    width: 90vw;
    height: 200px;
  }
}
